/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
    background-color: rgb(182, 207, 216);
    font-family: 'David Libre', serif;
}

::-webkit-scrollbar{
    display: none
}
 .header{
     display: flex;
     width: 100%;
     padding-top: 2%;
     padding-bottom: 2%;
     justify-content: center;
     background-color: rgb(150, 189, 223);
     color:rgb(220, 231, 235)
 }


 .user_show_div{
    display: flex;
    float: left;
    flex-flow: column wrap;
    max-height: 600px;
    padding: 10%;
 }

 .inner_user_div {
    display: flex;
    float: left;
    font-size: 20px;
    
    flex-flow: column wrap;
    align-items: center;
 }

 .inner_user_div h2 {
     font-size: 30px;
 }
 .inner_user_div ul {
     max-width: 80%;
 }

 .trail_img {
     float: right;
     max-width: 60%;
 }
.trails_index_div{
    padding: 10%;
    font-size: 25px
}
.sign_in_div{
    
}
 